<header class="fixed top-0 left-0 w-full bg-white shadow h-[5vh]">
  <div class="container mx-auto flex items-center justify-between h-full px-4">
    <%= link_to home_index_path do %>
      <%= image_tag "logocolordark.png" %>
    <% end %>
    <nav>
      <ul class="flex gap-6">
        <li><%= link_to "About", home_about_path, class: "text-gray-700 hover:text-blue-500" %></li>
        <li><%= link_to "Contact", home_contact_path, class: "text-gray-700 hover:text-blue-500" %></li>
        <li><%= link_to "Services", home_services_path, class: "text-gray-700 hover:text-blue-500" %></li>
        <li><%= link_to "Shred Blog", articles_path, class: "text-gray-700 hover:text-blue-500" %></li>
      </ul>
    </nav>
  </div>
</header>